@model bank.Data.Models.Employee

@{
    ViewData["Title"] = "EmployeePersonalPage";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Персональные данные</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <h6>id</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            <h6>Логин</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeLogin)
        </dd>
        <dt class = "col-sm-2">
            <h6>Пароль</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePassword)
        </dd>
        <dt class = "col-sm-2">
            <h6>ФИО</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeFullName)
        </dd>
        <dt class = "col-sm-2">
            <h6>Фото</h6>
        </dt>
        <dd class = "col-sm-10">
            <img width="100" src="@Html.DisplayFor(model => model.EmployeePhoto)" />
        </dd>
        <dt class = "col-sm-2">
            <h6>Администрирование</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAdmin)
        </dd>
    </dl>
</div>
