@model IEnumerable<bank.Data.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Добавить", "Create") |
    @Html.ActionLink("Фильтр: по ФИО", "FIOFilter")
</p>
<h5>@ViewBag.Message</h5>
<p>
    <form asp-action="Index" method="post">
        <div class="form-group">
            <label asp-for="EmployeeFullName" class="control-label">Поиск по ФИО:</label>
            <input type="text" name="EmployeeFullName" class="input" required />
            <span asp-validation-for="EmployeeFullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Поиск" class="btn btn-primary" />
        </div>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h6>id</h6>
            </th>
            <th>
                <h6>Логин</h6>
            </th>
            <th>
                <h6>Пароль</h6>
            </th>
            <th>
                <h6>ФИО</h6>
            </th>
            <th>
                <h6>Фото</h6>
            </th>
            <th>
                <h6>Администрирование</h6>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeePassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeFullName)
                </td>
                <td>
                    <img width="100" src="@Html.DisplayFor(modelItem => item.EmployeePhoto)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAdmin)
                </td>

                <td>

                    @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Подробно", "Details", new { id = item.id }) |
                    @if (item.isAdmin == false)
                    {
                        @Html.ActionLink("Удалить", "Delete", new { id = item.id })
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
