@model IEnumerable<bank.Data.Models.Contract>

@{
    ViewData["Title"] = "EmployeeViewsContract";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>EmployeeViewsContract</h1>

<p>
    @Html.ActionLink("Добавить", "CreateContractEmployee")|
    @Html.ActionLink("Фильтр: по Клиенту", "ClientFilter1")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h6>id</h6>
            </th>
            <th>
                <h6>Дата</h6>
            </th>
            <th>
                <h6>id клиента</h6>
            </th>
            <th>
                <h6>id сотрудника</h6>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfSigning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeID)
            </td>
        </tr>
}
    </tbody>
</table>
